{% extends "base.html" %}

{% block content %}

<script>
    $(document).ready(function () {
        $('#diagnosticosTable').DataTable();
    });
</script>

<body>

    <header class="masthead text-white text-center hola" style="padding: 40px;">
        <div class="overlay"></div>
        <div class="container" style="height: 50px;">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Listado de Diagnosticos</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="container" style="margin-top: 20px">

        <table class="table" id="diagnosticosTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Medico</th>
                    <th scope="col">Clinica</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for diagnostico in diagnosticos %}
                <tr>
                    <th scope="row">{{ diagnostico.id }}</th>
                    <td>{{ diagnostico.mascota.nombre }}</td>
                    <td>{{ diagnostico.titulo }}</td>
                    <td>{{ diagnostico.descripcion }}</td>
                    <td>{{ diagnostico.usuario}}</td>
                    <td>{{ diagnostico.clinica}}</td>
                    <td>
                        {% if user.rol == 'admin'  %}
                        <a class="btn btn-secondary" href="{% url 'vet:diagnostico-detalle' diagnostico.id %}"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-secondary" href="{% url 'vet:diagnostico-editar' diagnostico.id %}"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger" href="{% url 'vet:diagnostico-eliminar' diagnostico.id %}"><i class="fa fa-trash" style="color: white;"></i></a>
                        {% endif %}

                        {% if user.rol == 'medico'  %}
                        <a class="btn btn-secondary" href="{% url 'vet:diagnostico-detalle' diagnostico.id %}"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-secondary" href="{% url 'vet:diagnostico-editar' diagnostico.id %}"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger" href="{% url 'vet:diagnostico-eliminar' diagnostico.id %}"><i class="fa fa-trash" style="color: white;"></i></a>
                        {% endif %}

                        {% if user.rol == 'cliente'  %}
                        <a class="btn btn-secondary" href="{% url 'vet:diagnostico-detalle' diagnostico.id %}"><i class="fa fa-eye"></i></a>
                        {% endif %}


                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>

{% endblock %}